@page
@model PracowniaPsychotechniczna.Pages.Psycholog.IndexModel

<h2>Lista psychologów</h2>

<p>
    <a asp-page="Create">Dodaj psychologa</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Psycholog[0].Imie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Psycholog[0].Nazwisko)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Psycholog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
