@using PracowniaPsychotechniczna.Pages.Faktura
@model Faktura


<!DOCTYPE html>
<html style="width: 850px; height: 800px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Faktura</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column_500 {
            width: 500px;
            display: inline-block;
        }

        .column_200 {
            width: 200px;
            display: inline-block;
        }

        .column_300 {
            width: 300px;
            display: inline-block;
        }

        .column {
            width: auto;
            display: inline-block;
        }

        .price {
            text-align: right;
            width: 60px;
            display: inline-block;
        }

        .distinguish {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 120%;
        }

        .label {
            text-align: right;
            font-weight: bold
        }

        div {
            padding: 3px;
        }
    </style>
</head>

<body style="border: 1px solid rgb(89, 102, 83); height: 100%">
    <div style="text-align: center">
        <h2>Faktura Nr. @Model.Id</h2>
    </div>
    <div>
        <div class="column_500">
            <div class="distinguish">Sprzedawca:</div>
            <div>@Model.Sprzedawca.Nazwa</div>
            <div>@Model.Sprzedawca.Adres</div>
            <div>@Model.Sprzedawca.Nip</div>
        </div>
        <div class="column">
            <div class="distinguish">Nabywca:</div>
            <div>@Model.Nabywca.Nazwa</div>
            <div>@Model.Nabywca.Adres</div>
            <div>@Model.Nabywca.Nip</div>
        </div>
    </div>
<div>
    <div>
        <div class="column_200 distinguish">Usługa:</div>
        <div class="column_300" style="visibility: hidden"></div>
        <div class="column_300 distinguish">Cena:</div>
    </div>
    @foreach (var badanie in Model.Badania)
    {
        <div>
            <div class="column_200">@badanie.Imie @badanie.Nazwisko</div>
            <div class="column_300">@badanie.Typ</div>
            <div class="column_300">@badanie.Cena,00 zł</div>
        </div>
    }
</div>
    <div>
        <div class="column_500 label">Suma:</div>
        <div class="column" style="border-top: 1px dashed black">@Model.Suma,00 zł</div>
    </div>
    <div>
        <div class="column_500 label">Słownie:</div>
        <div class="column">@Model.SumeSlownie</div>
    </div>
    <div>
        <div class="column_500 label">Termin zapłaty:</div>
        <div class="column">@Model.TerminZaplaty</div>
    </div>
    <div>
        <div class="column_500 label">Sposób płatności:</div>
        <div class="column">przelew</div>
    </div>
    <div>
        <div class="column_500 label">Nr konta:</div>
        <div class="column">8888 88888 88888 88888 88888</div>
    </div>

</body>

</html>