@page
@model IndexModel

<h2>Typy Badań</h2>

<p>
    <a asp-page="Create">Dodaj typ badania</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TypBadania[0].Nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypBadania[0].Cena)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypBadania) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
