@page
@model PracowniaPsychotechniczna.Pages.Faktura.CreateFakturaModel

<h2>Nowa Faktura</h2>
<hr />
<table style="width:80%">
    <tr>
        <th>Sprzedawca</th>
        <th>Nabywca</th>
    </tr>
    <tr>
        <td>
            @Html.DisplayTextFor(m => m.CreateFaktura.Sprzedawca.Nazwa)
        </td>
        <td>
            @Html.DisplayTextFor(m => m.CreateFaktura.Nabywca.Nazwa)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayTextFor(m => m.CreateFaktura.Sprzedawca.Adres)
        </td>
        <td>
            @Html.DisplayTextFor(m => m.CreateFaktura.Nabywca.Adres)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayTextFor(m => m.CreateFaktura.Sprzedawca.Nip)
        </td>
        <td>
            @Html.DisplayTextFor(m => m.CreateFaktura.Nabywca.Nip)
        </td>
    </tr>
</table>
<hr />
<table style="width:80%">
    <thead>
        <tr>
            <th>
                Usługa
            </th>
            <th>
            </th>
            <th>
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.CreateFaktura.Badania[0].Cena)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CreateFaktura.Badania)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Typ)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Cena),00 zł
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                --------------
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => modelItem.CreateFaktura.Suma),00 zł
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                Słownie:  @Model.CreateFaktura.SumeSlownie
            </td>
        </tr>

    </tbody>
</table>
<hr />
<div>
    Termin zapłaty:  @Model.CreateFaktura.TerminZaplaty.ToString("d")
</div>
<div>
    Sposób zapłaty: przelew
</div>
<div>
    Nr konta: 8888 88888 88888 88888 88888
</div>
<hr />
<div>
    <form method="post">
        
        <div class="form-group">
            <input type="hidden" asp-for="CreateFaktura.Nabywca.Id" class="form-control" />
        </div> 
        <div class="form-group">
            <input type="submit" value="Fakturuj" class="btn btn-success" />
        </div>
    </form>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
