@page
@model IndexModel


<h2>Wystawione faktury</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Faktury[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faktury[0].NazwaFirmy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faktury[0].LiczbaBadan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faktury[0].CalkowityKosztBadan)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Faktury) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaFirmy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiczbaBadan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalkowityKosztBadan)
            </td>
            <td>
                <a asp-controller="Faktura" asp-action="Pdf" asp-route-fakturaid="@item.Id">Pdf</a>
            </td>
        </tr>
}
    </tbody>
</table>
