@page
@model CreateModel

@{
    ViewData["Title"] = "Nowe badanie";
}

<h2>Nowe badanie</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Badanie.TypBadaniaId" class="control-label"></label>
                @Html.DropDownListFor(x => @Model.Badanie.TypBadaniaId, new SelectList(@Model.Badanie.TypyBadan, "Id", "Nazwa"), htmlAttributes: new { @class = "form-control", id = "TypBadania" })
            </div>
            <div class="form-group">
                <label asp-for="Badanie.PsychologId" class="control-label"></label>
                @Html.DropDownListFor(x => @Model.Badanie.PsychologId, new SelectList(@Model.Badanie.Psychologowie, "Id", "ImieINazwisko"), htmlAttributes: new { @class = "form-control", id = "Psycholog" })
            </div>
            <div class="form-group">
                <label asp-for="Badanie.Badany" class="control-label"></label>
                <input asp-for="Badanie.Badany" class="form-control" />
                <span asp-validation-for="Badanie.Badany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Badanie.BadanyId" />
                <span asp-validation-for="Badanie.BadanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Badanie.CzyPlatnoscWlasna" class="control-label"></label>
                @Html.CheckBoxFor(x => x.Badanie.CzyPlatnoscWlasna, new { @class = "from-control" })
                <span asp-validation-for="Badanie.CzyPlatnoscWlasna" class="text-danger"></span>
            </div>

            @if (@Model.Badanie.CzyPlatnoscWlasna)
            {
                <div class="form-group" id="Badanie_Frima_FormGroup" style="display: none">
                    <label asp-for="Badanie.Frima" class="control-label"></label>
                    <input asp-for="Badanie.Frima" class="form-control" />
                    <span asp-validation-for="Badanie.Frima" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group" id="Badanie_Frima_FormGroup">
                    <label asp-for="Badanie.Frima" class="control-label"></label>
                    <input asp-for="Badanie.Frima" class="form-control" />
                    <span asp-validation-for="Badanie.Frima" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="hidden" asp-for="Badanie.FirmaId" />
                <span asp-validation-for="Badanie.FirmaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Potwierdź" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
