@page
@model PracowniaPsychotechniczna.Pages.Badany.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Badany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Badany.Imie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Badany.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Badany.Nazwisko)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Badany.Nazwisko)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Badany.Pesel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Badany.Pesel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Badany.Adres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Badany.Adres)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Badany.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
