@page
@model PracowniaPsychotechniczna.Pages.Frima.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firma.Nazwa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firma.Nazwa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firma.Adres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firma.Adres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firma.Nip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firma.Nip)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Firma.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
